.icon-tabs-wrapper {
  position: absolute;
  right: 10px;
  top: 50px;
  display: flex;
  flex-direction: column;
}

.icon {
  padding: 10px;
  width: 28px;
  text-align: center;
  position: relative;
  margin-top: 2px;
  font-size: 28px;
  left: 30px;
  border-radius: 5px;
  color: white;
}

.icon:hover {
  cursor: pointer;
  transition-duration: 0.5s;
  padding: 12px;
  background-color: #c92a2a !important;
}

.contact-me-button {
  color: white;
  transform: rotate(90deg);
  position: relative;
  top: 52px;
  right: 19px;
  border-radius: 5px;
  padding: 15px 7px;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}


@media only screen and (max-width: 750px) {
  .icon-tabs-wrapper {
    right: -20px;
  }

  .contact-me-button {
    top: 44px;
    right: -18px;
    font-size: 14px;
    padding: 16px 8px;
  }

  .icon {
    font-size: 20px;
    padding: 10px;
    left: 60px;
  }
}