.nav-item-wrapper {
  box-shadow: 0px 2px 5px 1px #888888;
  width: 100%;
  background-color: white;
  margin-top: 2px;
  height: 142px;
}

.nav-title {
  text-align: center;
  font-size: 25px;
  margin-top: 5px;
}

.nav-subtitle {
  text-align: center;
  font-size: 18px;
}

.nav-item-wrapper:hover {
  cursor: pointer;
  background-color: rgb(212, 212, 212);
}

.nav-item-active {
  transition: all 0.2s ease-in;
  background-color: #a12222;
  color: white;
}

.nav-item-active:hover {
  background-color: #a12222 !important;
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-left: 60px solid green;
}

.nav-arrow {
  width: 50px;
  height: 50px;
  margin-top: 45px;
  position: absolute;
  transition: all 0.5s ease-in;
  background: #a12222;
  right: 10px;
  transform: translate(30px, 0px) rotate(45deg);
  box-shadow: 7px 0 5px -5px #888;
  border-radius: 5px;
}


@media only screen and (max-width: 750px) {
  .nav-item-wrapper {
    height: 160px;
  }
  .nav-arrow {
    width: 35px;
    height: 35px;
    margin-top: 65px;
    transition: all 0.5s ease-in;
    background: #a12222;
    right: 15px;
    transform: translate(30px, 0px) rotate(45deg);
  }

  .nav-title {
    margin-top: 20px;
    font-size: 20px;
  }

  .nav-subtitle {
    font-size: 16px;
  }
}
